<h1>Bonjour {{ email.toName }} !</h1>

<p>
    Vous vous êtes enregistré avec l'adresse email suivante:
</p>
<p><code>{{ email.to[0].address }}</code></p>

<p>
    <a href="#">Cliquez ici pour activer votre compte</a>
</p>
